@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
        
body {
    font-family: 'Inter', sans-serif; 
    background-color: rgb(234, 245, 230);
    height: 1900px;
    width: 100vh;
    margin: 0;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 280px;
    width: 1420px;
    height: 71px;
    z-index: 1000; 
    display: flex;
    flex-direction: row;
}
input{
    border: none;
}
#searchbar{
    border: 1px solid gray;
    /* display: inline; */
    width: 420px;
    margin: 15px 140px 15px 250px;
    border-radius: 20px;
    padding-top: 5px;
} 
#searchbars{
    border: 1px solid gray;
    /* display: inline; */
    width: 420px;
    margin: 15px 140px 15px 220px;
    border-radius: 20px;
    padding-top: 5px;
} 
input{
    position: relative;
    top: -49px;
    margin: 5px 10px 5px 10px;
    padding-top: 40px;
    background-color: transparent;
    font-size: 18px;
}
#search:focus {
    outline: none;
}
.icons-nav img{
    position: relative;
    top: -40px;
    margin: 5px 2px 5px 30px;
    padding-top: 40px;
    width: 22px;
}
#notification{
    position: relative;
    top: 20px;
  
}
#red-icon{
    position: absolute;
    left: 750px;
    top: 10px;
}
#red-iconf{
    position: absolute;
    left: 830px;
    top: 10px;
}
#red-iconse{
    position: absolute;
    left: 800px;
    top: 10px;
}
#profile-img{
    margin: 5px 20px 5px 30px;
}
nav > div:nth-child(4) {
    margin: 10px 20px 5px 0;
}
aside{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -10px;
    width: 320px;
    height: 750px;
    /* background-color: rgb(255, 255, 255); */
}
#asidediv{
    position: fixed;
    background-color: white;
}
#main-container{
   width: 1430px;
   margin-top: 120px;
   margin-left: 370px;
}
#main-container p{
    width: 300px;
}
#aside-logo img{
    width: 196px;
    height: 70px;
    margin: 40px 0 25px 35px;
}
.aside-contentcolored{
    background-color:   rgb(46, 153, 0);
    width: 200px;
    list-style: none;
    border-radius: 5px;
    padding: 5px 20px 5px 10px;
    margin-left: 35px;
}
.icons{
    margin-right: 20px;
}
.aside-content:hover {
    background-color: rgb(46, 153, 0);
    width: 220px;
}

.aside-content:hover .link {
    color: white;
}
/* a .link{
    position: relative;
    top: 150px;
} */
.aside-content:hover img {
    filter: brightness(0) invert(1); 
}
.link1{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.link{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.aside-content{
    width: 245px;
    list-style: none;
    border-radius: 5px;
    padding: 5px 20px 5px 10px;
    margin: 8px 0 0 35px;
} 
#main-container > p{
    margin-bottom: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 26px;
}
.sign-out{
    margin-top: 50px;
}
#first-container{
    background-color: rgb(46, 153, 0);
    width: 900px;
    height: 200px;
    border-radius: 15px;
}
#first-container #p1{
    padding: 30px 20px 20px 40px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
#first-container #p2{
    padding: 5px 20px 20px 40px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
#first-container div{
    border: 1px solid  rgb(241, 201, 40);
    width: 240px;
    padding: 10px 30px;
    margin: 20px 30px;
    border-radius: 10px;
    color:  rgb(241, 201, 40);;
}
#first-container img{
    width: 233px;
    position: relative;
    top: -225px;
    left: 590px;
}
#main-container > p:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 5px;
}
.training-content{
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 430px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}
.training p{
    width: 200px;
    padding-right: 15px;
}
.training > h5:nth-child(1){
 font-size: 19px;
} 
 .training > p:nth-child(2){
    font-size: 14px;
} 
#traing-contianer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    grid-template-rows: auto auto; /* Two rows, size depending on content */
    gap: 15px; /* Space between the grid items */
    padding: 20px; /* Padding around the container */
}
#main-container > img:nth-child(6){
    width: 900px;
}
/* 
subscription css */
.search-bar:active{
    visibility: hidden;
}
.notification{
    margin-left: 730px;
}
.arrowDown{
    width: 15.97px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 970px;
}
.profile-details{
    position: absolute;
    top: 10px;
    left: 844px;
}
.subscription-container div:nth-child(1) h3{
    font-size: 22px;
    font-weight: 400px;
    margin-bottom: 45px;
}
.subscription-container div:nth-child(1) p{
    font-size: 19px;
    font-weight: 200px;
    margin-bottom: 40px;
}
.subflex{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.subflex div:nth-child(1){
    width: 391px;
    height: 598.74px;
    background-color: white;
}
.subflex-two >img{
    width: 161.94px;
    height: 109.66px;
    margin: 30px 0 20px 20px;
}.subflex-two >p{
    margin-left: 20px;
    font-size: 19px;
    font-weight: 400px;
}
p span{
    font-size: 30px;
    font-weight: bold;
}
.subflex-three img{
    width: 18.28px;
    height: 18.28px;
    margin-left: 20px;
    margin-top: -19px;
    /* position: absolute;
    top: 535px; */
}
.subflex-three{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}
.subflex-four{
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* margin-bottom: 20px; */
}
.subflex-five{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.subflex-three div{
    font-size: 15px;
    width: 313.18px;
    height: 91px;
    margin-top: -19px;
}
.subflex-four img{
    width: 18.28px;
    height: 18.28px;
    margin-left: 20px;
    margin-top: -19px;
    /* position: absolute;
    top: 535px; */
}
.subflex-four div{
    font-size: 15px;
    width: 313.18px;
    height: 91px;
    margin-top: -19px;
}
.subflex-five img{
    width: 18.28px;
    height: 18.28px;
    margin-left: 20px;
    margin-top: -30px;
  
    /* position: absolute;
    top: 535px; */
}
.subflex-five div{
    font-size: 15px;
    width: 313.18px;
    height: 91px;
    margin-top: -30px;
}
.Subscribe{
    background-color: #F1C928;
    width: 344px;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-left: 30px;
    padding-top: 8px;
}
.Subscribe a{
    color: black;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    margin-left: 125px;
    
}
.green-colored{
    background-color: rgb(46, 153, 0);
    width: 229px;
    color: white;
}
.green-colored a{
    color: white;
}

/* column two */
.subflex-twob{
    width: 391px;
    height: 598.74px;
    background-color: white;
}.subflex-twob >img{
    width: 161.94px;
    height: 109.66px;
    margin: 30px 0 20px 20px;
}.subflex-twob >p{
    margin-left: 20px;
    font-size: 19px;
    font-weight: 400px;
    margin-bottom: 38px;
}

.arrow-right{
    width: 14.62px;
    height: 14.62px;
    margin-top: 60px;
    margin-left: 750px;
}

/* 
setting css */
.form-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1032px;
    height: 501px;
    background-color: #FFFFFF80;
    padding-top: 20px;
    padding-left: 20px;
}
.firstform-col{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 229px;
    height: 37px;
    margin-bottom: 25px;
    color: black;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 16px;
    background-color: white;
}
.box-color{
    background-color:  #2E9900;
    color: white;
}
.firstform-col img{
    width: 25px;
    height: 24px;
}
.subscription-containerse div:nth-child(1) p{
    font-size: 19px;
    font-weight: 200px;
    margin-bottom: 20px;
}
.info-boxes{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}
.Profile{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
hr{
    width: 7945px;
    margin-bottom: 10px;
}
.Profile div{
    font-size: 15px;
    font-weight: bold;
}
.profile-saving{
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.buttonSD{
    margin-top: 20px;
}
.buttonSD button:nth-child(1){
    font-size: 14px;
    background-color: #F1C928;
    padding: 10px;
    width: 98px;
    height: 37px;
    border: none;
    border-radius: 5px;
}
.buttonSD button:nth-child(2){
    font-size: 14px;
    color: #F1C928;
    padding: 10px;
    width: 98px;
    height: 37px;
    border: 1px solid #F1C928;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 20px;
}
.label-setting{
    font-size: 19px;
    font-weight: bold;
    color: #333; /* Example color */
    /* margin-bottom: 20px;  */
    padding: 5px;
}
.label-setting2{
    font-size: 19px;
    font-weight: bold;
    color: #333; /* Example color */
    margin-bottom: 20px;  
    padding: 5px;
    margin-top: 90px;
}
.input-setting {
    width: 299px;
    height: 56px;
    padding: 8px  8px  8px 20px; /* Example padding */
    border: 1px solid #ccc; /* Example border */                                               
    border-radius: 5px; /* Example border radius */
    box-sizing: border-box;
    font-size: 14px; /* Example font size */
    color: #555; /* Example color */
    /* margin-bottom: 10px; Example margin */
    margin-top: 60px;
    margin-left: -5px;
}
.input-setting2 {
    width: 299px;
    height: 56px;
    padding: 8px  8px  8px 20px; /* Example padding */
    border: 1px solid #ccc; /* Example border */
    border-radius: 5px; /* Example border radius */
    box-sizing: border-box;
    font-size: 14px; /* Example font size */
    color: #555; /* Example color */
    /* margin-bottom: 10px; Example margin */
    margin-top: 50px;
    margin-left: 5px;
}

/* Style for the input placeholder */
.input-setting::placeholder {
    color: #00000080;
    font-size: 16px;
}
.input2{
    margin-top: -20px;
}
.inputboxes{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 20px;
}
.input4{
    width: 299px;
    height: 56px;
    padding: 8px  8px  8px 20px; /* Example padding */
    border: 1px solid #ccc; /* Example border */
    border-radius: 5px; /* Example border radius */
    box-sizing: border-box;
    font-size: 14px; /* Example font size */
    color: #555; /* Example color */
    /* margin-bottom: 10px; Example margin */
    margin-top: 60px;
    margin-left: -5px;
}
.form-container2{
    background-color: white;
    margin-left: 0;
}
.subscriptionBox{
    position: absolute;
    left: 380px;
    width: 1032px;
    height: 1000px;
    background-color: transparent;
    
    /* padding-left: 270px; */
}
.subscriptionInnerBox>h2{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}
.subscriptionInnerBox>hr{
    border: 1px solid #00000026;
}
.pBold{
    font-size: 14px;
    font-weight: 600;
}
.subPara{
    font-size: 13px;
    font-weight: 400; 
    
    
}
.update{
    width: 98px;
    height: 37px;
    border: 2px solid #F1C928;
    color: #F1C928;
    border-radius: 8px;
    background-color: transparent;
}
.subDiv2{
    margin-top: 50px;
}

.subscriptionInnerBox{
    background-color: white;
    padding-left: 270px;
    padding-top: 20px;
    height: 400px;
}
.subscriptionInnerBox2{
    background-color: white;
    padding-left: 270px;
    padding-top: 20px;
    height: 400px;
    margin-top: 25px;
}
.control{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.controlImg{
    width: 40.59px;
    height: 20.29px;
    margin-left: 200px;
    margin-top: 20px;
}
.controlSep{
    margin-top: 35px;
}
.passMgt{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
 
}
.controlBtn{
    width: 154px;
    height: 37px;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #F1C928;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}